.cards-section {
  margin-top: $spacer-7;
  margin-left: -$spacer;
  margin-right: -$spacer; 
  &__item {
    padding: 0 $spacer;
    margin-bottom: $spacer-6;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include breakpoint(md) {
    display: flex;
    &__item {
      margin-bottom: 0;
    }
  }
}

// item card
.card {
  text-align: center;
    &__img-wrap {
      margin: 0 auto $spacer-5 auto;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      box-shadow: 2px 2px 20px #00000026;
      border: 3px solid $white;
    }
    &__img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__title {
      font-size: $font-size-h5;
      font-weight: $font-weight-bold;
    }
}

