
.nav {    
    &__item {
      display: block;
      margin-bottom: $spacer;
      text-decoration: none;
      font-weight: $font-weight-medium;
      color: $black;
      position: relative;
      font-size: $font-size-h4;
      transition: $transition-color;
      &:hover {
        background-color: inherit;
        color: $vitl-yellow;
        transition: $transition-color;
      }
    }
    @include breakpoint(md) {
      &__item {
        display: inline;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        &:hover {
          color: $black;
        }
      }
      &__item + &__item {
        margin-left: $spacer;
      }
    }
}



